.location__description {
  max-width: 26.75rem;
  padding-top: 3.75rem;
}

.location__description.description {
  p:first-child::after {
    content: "";
    display: block;
    height: 1em;
  }
}


