@import "./variables";

body {
  font-family: "Inter";
  font-weight: 400;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.heading--xxl {
  @include heading--xxl;
}
.heading--xl {
  @include heading--xl;
}

.heading--lg {
  @include heading--lg;
}

.heading--md {
  @include heading--md;
}

.heading--sm {
  @include heading--sm;
}

.header,
.project__info,
.project__benefits,
.project__location,
.project__style,
.project__offers,
.project__slider,
.project__characteristics {
  margin-bottom: 12.5rem;
}

.main__container,
.header__container,
.footer__container {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  overflow: hidden;
  + .slider {
    padding-left: 0;
    padding-right: 0;
  }
}

.container-section {
  padding-left: 11.75rem;
  padding-right: 11.75rem;
}

.container-section__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 3.75rem;
}
.container-section__second {
  padding-top: 3.75rem;
}

.phone__text,
.menu__link,
.item__description,
.description__text,
footer {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2778;
  word-wrap: break-word;
  color: $text-color-secondary;
}

.button {
  text-align: center;
}

.button__text {
  display: block;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.2353;
  text-align: center;
  color: $text-color-primary;
}

.benefits__heading,
.benefits__conteiner,
.item__heading,
.item__description,
.info__heading,
.footer__section,
.info__description,
.location__image,
.location__wrap,
.style__heading,
.style__description,
.item-container {
  flex: 1;
  min-width: 17rem;
}
.benefits__heading,
.info__heading {
  align-self: flex-start;
}
.location__wrap,
.item-container {
  align-self: center;
}

.style__description {
  .description__text {
    .px640 {
      display: inline;
    }
  }
}

.location {
  .location__description {
    .px320 {
      display: inline;
    }
  }
}
