$pallete-color-white: #ffffff;
$pallete-color-dark: #282828;
$pallete-color-silver: #909090;

$text-color-primary: $pallete-color-white;
$text-color-secondary: $pallete-color-dark;
$text-color-footer: $pallete-color-silver;
$text-color-menu-burger: $pallete-color-dark;

$border-color-button-primary: $pallete-color-white;
$border-color-button-secondary: $pallete-color-dark;
$border-color: $pallete-color-silver;
$border-color-opacity: rgba(144, 144, 144, 0.5);

$bg-color-button-primary: $pallete-color-white;
$bg-color-button-secondary: $pallete-color-dark;
$bg-color-button: $pallete-color-white;
$bg-color-button-active: $pallete-color-silver;
$bg-color-menu-burger: $pallete-color-white;

$footer-bgcolor: $pallete-color-dark;

$width: 100rem;
$width-heading-info: 64.125rem;
$height-heading-info: height;

@mixin height {
  min-height: 16.375rem;
}

@mixin heading--xxl($font-size: 5rem, $line-height: 1, $font-weight: 600, $color: $text-color-primary) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}
@mixin heading--xl($font-size: 3rem, $line-height: 1.1042, $font-weight: 700, $color: $text-color-secondary) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin heading--lg($font-size: 2.25rem, $line-height: 1.2222, $font-weight: 500, $color: $text-color-secondary) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin heading--md($font-size: 1.5625rem, $line-height: 1.2, $font-weight: 600, $color: $text-color-secondary) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin heading--sm($font-size: 1.125rem, $line-height: 1.2778, $font-weight: 600, $color: $text-color-secondary) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}
